@media (min-width: 900px)
{
  .form-inline {
    margin-left: 70%;
  }
}


.card{
 width: 18rem;
  margin-top: 1rem;
  display: inline-flex;
  margin-left: 2rem;
  box-shadow: 10px 10px 5px rgb(157, 159, 160);
}

h5{
  text-align: center;
  color: rgb(215, 133, 133);
}

.card > img {
  width: 18rem;
}


i{
  margin-left: 1rem;
  size: 2rem;
}

.avatar{
  margin-left: 1rem;
}